<div class="carousel-wrapper" (mouseenter)="pauseAutoplay()" (mouseleave)="resumeAutoplay()">
  <h3 class="carousel-title">Apoiado Por</h3>

  <section *ngIf="!isStaticLayout; else staticUniversities" class="splide university-splide" #universitySplide>
    <div class="splide__track">
      <ul class="splide__list">
        <li
          *ngFor="let uni of universities; trackBy: trackByUniversity"
          class="splide__slide carousel-item"
          (click)="openUniversity(uni.url)"
          matRipple
          [matTooltip]="uni.name">
          <img
            [src]="uni.logo"
            [alt]="uni.name"
            class="uni-logo"
            draggable="false"
            loading="lazy"
            decoding="async"
            width="186"
            height="96">
        </li>
      </ul>
    </div>
  </section>

  <ng-template #staticUniversities>
    <section class="university-static">
      <div class="university-static-list">
        <button
          *ngFor="let uni of universities; trackBy: trackByUniversity"
          type="button"
          class="carousel-item university-static-item"
          (click)="openUniversity(uni.url)"
          matRipple
          [matTooltip]="uni.name">
          <img
            [src]="uni.logo"
            [alt]="uni.name"
            class="uni-logo"
            draggable="false"
            loading="lazy"
            decoding="async"
            width="186"
            height="96">
        </button>
      </div>
    </section>
  </ng-template>
</div>